.main{
    width: 100%;
    height: 100vh;
    background: #d0dde8;
    padding: 5vh 5vw;
}

.flex{
    display: flex;
}

.flx-hcenter{
    justify-content: center;
}

.container{
    display: grid;
    grid-template: repeat(3, minmax(200px, 1fr)) / repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}

.cell{
    width: 100%;
    height: 100%;
    background: blue;
}
