<section class="container">
  <mat-spinner *ngIf="!ready"></mat-spinner>
  <mat-grid-list *ngIf="ready" class="list" cols="4" rowHeight="fit">
    <mat-grid-tile>
      <div class="grid grid--contacts">
        <div class="search">
          <p>
            <mat-form-field class="full">
                <input matInput placeholder="Buscar" required>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </p>
        </div>
        <cdk-virtual-scroll-viewport [itemSize]="50">

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>local_taxi</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                  Choferes
                </mat-panel-description>
              </mat-expansion-panel-header>

              <app-list-drivers (contactEmitter)="changeContact($event)" [contactList]="contacts"></app-list-drivers>

            </mat-expansion-panel>
          </mat-accordion>
            
        </cdk-virtual-scroll-viewport>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <app-conversation [user]="contactSelected" class="data"></app-conversation>
    </mat-grid-tile>
  </mat-grid-list>
</section>
