<div class="container form-container fade-in">
  <form class="form border-primary">
    <div class="image-round center"><i class="fas fa-book"></i></div>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="formulario.controls['password'].errors.required">
          Ingresa una contraseña
        </mat-error>
      </mat-form-field>
    </p>
    <p class="font-Roboto dark-bold">Cuidaremos tu información celosamente.</p>
    <button type="submit" class="form-submit font-Roboto white-bold">
      Ingresar
    </button>
  </form>
</div>
