<div class="form-container fade-in">
  <form class="form border-primary" [formGroup]="formulario" (ngSubmit)="singUp()">
    <div class="image-round center"><i class="fas fa-book"></i></div>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Tarifa</mat-label>
        <input
          type="number"
          matInput
          placeholder="Tarifa"
          formControlName="tarifa"
        />
        <mat-error *ngIf="formulario.controls['tarifa'].errors?.required">
          Ingresa una tarifa.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Nombre de la central</mat-label>
        <input
          type="text"
          matInput
          placeholder="Central"
          formControlName="nombreCentral"
        />
        <mat-error *ngIf="formulario.controls['nombreCentral'].errors?.required">
          Ingresa un nombre. 
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Nombre completo del encargado</mat-label>
        <input
          type="text"
          matInput
          placeholder="Nombre encargado"
          formControlName="nombreEncargado"
        />
        <mat-error *ngIf="formulario.controls['nombreCentral'].errors?.required">
          Ingresa un nombre de encargado.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Teléfono</mat-label>
        <input
          type="tel"
          matInput
          placeholder="Teléfono"
          formControlName="telefono"
        />
        <mat-error *ngIf="formulario.controls['telefono'].errors?.required">
          Ingresa un teléfono.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Localidad</mat-label>
        <input
          type="text"
          matInput
          placeholder="Localidad"
          formControlName="localidad"
        />
        <mat-error *ngIf="formulario.controls['localidad'].errors?.required">
          Ingresa una localidad.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="formulario.controls['email'].errors?.required">
          Ingresa un email.
        </mat-error>
        <mat-error *ngIf="formulario.controls['email'].errors?.email">
          Ingresa un email válido.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="contrasena1"
        />
        <mat-error *ngIf="formulario.controls['contrasena1'].errors?.required">
          Ingresa una contraseña.
        </mat-error>
        <mat-error *ngIf="formulario.controls['contrasena1'].errors?.longitud">
          La contraseña debe tener mínimo 8 caracteres.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Confirme su contraseña</mat-label>
        <input
          type="password"
          matInput
          placeholder="contraseña"
          formControlName="contrasena2"
        />
        <mat-error *ngIf="formulario.controls['contrasena2'].errors?.required">
          Ingresa una contraseña.
        </mat-error>
        <mat-error *ngIf="formulario.controls['contrasena2'].errors?.noIgual">
          Las contraseñas no son iguales.
        </mat-error>
      </mat-form-field>
    </p>
    <p class="font-Roboto dark-bold">Cuidaremos tu información celosamente.</p>
    <button type="submit" class="form-submit font-Roboto white-bold">
      Registrar
    </button>
  </form>
</div>
