<div class="container form-container fade-in">
        <form class="form border-primary">
          <div class="image-round center"><i class="fas fa-book"></i></div>
          <input class="form-input"  type="text" placeholder="Ingresa tu nombre completo"/>
          <input class="form-input"  type="email" placeholder="Ingresa tu email"/>
          <input class="form-input"  type="text" placeholder="Ingresa un nombre de usuario"/>
          <input class="form-input" type="text" name="" id="" placeholder="Ingresa una contraseña"/>
          <input class="form-input" type="password" name="" id="" placeholder="Confirma tu contraseña"/>
          <p class="font-Roboto dark-bold">Cuidaremos tu información celosamente.</p>
          <button type="submit" class="form-submit font-Roboto white-bold">Ingresar</button>
        </form>
      </div>
      