<section class="main">
  <div class="container">
    <mat-tab-group>
        <mat-tab label="Cuenta"> 
          <app-count [currentUser]="user"></app-count>
        </mat-tab>
        <mat-tab label="Actualizar datos"> 
          <app-update-count></app-update-count>
        </mat-tab>
        <mat-tab label="Cambiar contraseña"> 
          <app-update-password></app-update-password>
        </mat-tab>
        <mat-tab label="Cambiar imagen de perfil"> 
          <app-upload-img></app-upload-img>
        </mat-tab>
    </mat-tab-group>
  </div>
</section>
