.img{
    width: 30%;
    height:70%;
    object-fit: fill;
}

.link-home{
    text-decoration: none;
    /* border: 1px solid red; */
    width: 11%;
    height: 90%;
}

.center{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.back-light{
    background: #fcfcfc;
}

.notifications-list{
    position: absolute;
    z-index: 4;
    border-radius: 1em;
    right: 10%;
    background: #fff;
}

.bell{
    cursor: pointer;
    position: relative;
}

.searcher{
    width: 30%;
}

.searcher > input{
    width: 100%;
}

.actions{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
}

.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13%;
    height: 100%;
    padding: 0 1em;
}

.user p{
    margin: 1em 0;
}

.log-out{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 1em 0;
}