<section class="main-banner background-awesome fade-in fast">
  <div class="welcome-container fade-in slow">
    <article class="welcome">
      <h1 class="main-title font-Roboto white-bold font-title">
        Aumente sus ganancias y expanda su negocio
      </h1>
      <p class="main-description font-Roboto white-bold font-text">
        Con Taximex usted podrá administrar de una manera efectiva a sus empleados,
        además tendrá la capacidad de observar el flujo de sus ganancias.
      </p>
    </article>
  </div>
  <div class="app-container fade-in slow">
    <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid amet corrupti similique sequi quod veniam
        consequatur voluptate reprehenderit quibusdam delectus vel commodi quo, atque totam optio repellat accusantium
        sint nisi?</p> -->
    <img
      class="app"
      src="../../../assets/img/sprites.png"
      alt="capturas de la app"
    />
  </div>
</section>
<app-servicios class="fade-in fast"></app-servicios>
<app-contacto class="fade-in slow"></app-contacto>