<div class="form-container fade-in">
  <form [formGroup]="form" (ngSubmit)="login()" class="form border-primary">
    
    <div class="image-round center"><i class="far fa-user"></i></div>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su nueva contraseña</mat-label>
        <input matInput type="password" placeholder="Nueva contraseña" formControlName="newPassword"/>
        <mat-error *ngIf="form.controls['newPassword'].errors?.required">
          Ingresa una contraseña.
        </mat-error>
        <mat-error *ngIf="form.controls['newPassword'].errors?.length">
          La contraseña debe tener 8 caracteres.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Confirme su contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña" formControlName="confirm" />
        <mat-error *ngIf="form.controls['confirm'].errors?.required">
          Ingresa una contraseña.
        </mat-error> 
        <mat-error *ngIf="form.controls['confirm'].errors?.validate">
          Las contraseñas no coinciden.  
        </mat-error>
      </mat-form-field>
    </p>
    <button type="submit" class="form-submit font-Roboto white-bold">Cambiar contraseña</button>
  </form>
</div>

