<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img *ngIf="!file" class="img" src="../../../assets/img/Devops.png" alt="">
    <img *ngIf="file" class="img" [src]="urlImg" alt="Imagen seleccionada">
  </mat-grid-tile>
  <mat-grid-tile>
    <form [formGroup]="form" (ngSubmit)="uploadImage()">
        <input (change)="selectImage($event)" type="file" formControlName="img" required placeholder="Nombre de la central">
      <button type="submit" mat-button color="warn">Subir imagen</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
