.tabs{
    width: 30vw;
    height: 10vh;
    margin: 0 auto 10vh auto;
    display: flex;
}

.tab-login{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tab-singup{
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tab-login>a, .tab-singup>a{
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-family: 'Roboto';
}

.tab-active{
    border-bottom: 4px solid #1b577b;
    color: #1b577b;
}

.tab{
    width: 50%;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.tab-active{
    border-bottom: 4px solid #1b577b;
}

.tab-link{
    text-decoration: none;
    font-size: 1em;
}

.tab-link:active{
    color: #1b577b;
}

