router-outlet{
    margin-bottom: 0;
   
}

.tabs{
    width: 30vw;
    height: 10vh;
    margin: 0 auto 10vh auto;
    display: flex;
}

.tab-active{
    border-bottom: 4px solid #CC4343;
    color: #CC4343;
}

.tab{
    width: 50%;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.tab-active{
    border-bottom: 4px solid #CC4343;
}

.tab-link{
    text-decoration: none;
    font-size: 1em;
}

.tab-link:active{
    color: #CC4343;
}

@media screen and (max-width: 1024px) {
    .tabs{
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {
    .tabs{
        width: 70vw;
    }
}

@media screen and (max-width: 425px){
    .tabs{
        width: 90vw;
    }
}

@media screen and (max-width: 325px) {
    .tabs{
        width: 95vw;
    }
}