<section class="main">
  <div class="container-grid">
    <div class="list-drivers mat-elevation-z8">
      <mat-list >
        <ng-container *ngFor="let user of users">
          <mat-list-item *ngIf="user.active">
            <img matListAvatar [src]="user.img" alt="..." />
            <div matLine (click)="redirectTo(user.lat, user.lng)">
              <h5 >{{ user.user }}</h5>
              <div *ngIf="user.active" hclass="user-active font-active"></div>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>

    <agm-map class="map mat-elevation-z8" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</section>
