<section class="main">
  <div class="container">
    <div class="list mat-elevation-z8">
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <img matListAvatar [src]="user.img" alt="..." />
          <div matLine (click)="redirectTo(user.lat, user.lng)">
            <h3 [ngClass]="(user.active) ? 'font-active' : ''">{{ user.user }}</h3>
            <div *ngIf="user.active" class="user-active"></div>
          </div>
          
        </mat-list-item>
      </mat-list>
    </div>

    <agm-map class="map mat-elevation-z8" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</section>
