<section class="main">
  <div class="container">
    <div class="list">
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <img matListAvatar [src]="user.img" alt="..." />
          <h3 matLine (click)="redirectTo(user.lat, user.lng)"> {{ user.user }}</h3>
          <!-- <p matLine>
            <span [style.color]="user.color">
              {{ user.color }}
            </span>
          </p> -->
        </mat-list-item>
      </mat-list>
    </div>

    <agm-map class="map" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</section>
