.contacto{
    width: 100%;
    height: auto;
    border-top: 0.5em solid #1b577b;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
}

.header{
    margin: 1vh 1vw;
}
.description{
    margin: 1vh 1vw;
    text-align: justify;
}

.caption{
    width: 100vw;
    height: auto;
    margin: 4vh 3vw
}

.image{
    width: 35vw;
    height: 50vh;
    background: url('../../../../assets/img/oficina.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 100vh 100vh;
    border-top-right-radius: 0 100vh;
    border-bottom-left-radius: 100vh 0;
}

@media screen and (max-width: 768px){
    .contacto{
        display: block;
        padding: 0;
    }

    .caption{
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        padding: 1em;
    }

    .header{
        text-align: center;
    }

    .text{
        max-width: 100%;
        width: 100%;
    }

    .image{
        width: 100%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 425px){
    .image{
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
    }

    .text{
        font-size: 1em;
    }

    .header{
        font-size: 2em;
    }
}