<form class="form" [formGroup]="form" (ngSubmit)="updateData()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nombre de la central</mat-label>
            <input matInput formControlName="name" required placeholder="Nombre de la central">
            <mat-error *ngIf="form.controls['name'].errors?.required">
                Ingresa el nombre de la central.
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Tarifa</mat-label>
            <input matInput type="number" formControlName="rate" required placeholder="Tarifa">
            <mat-error *ngIf="form.controls['rate'].errors?.required">
                Ingresa la tarifa de la central.
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nombre completo del encargado</mat-label>
            <input matInput required formControlName="manager_name" placeholder="Nombre del completo del encargado">
            <mat-error *ngIf="form.controls['manager_name'].errors?.required">
                Ingresa el nombre del encargado.
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono del encargado</mat-label>
            <input matInput type="tel" required formControlName="manager_telephone" placeholder="Teléfono del encargado">
            <mat-error *ngIf="form.controls['manager_telephone'].errors?.required">
                Ingresa el teléfono del encargado.
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Ciudad</mat-label>
            <input matInput required formControlName="town" placeholder="Ciudad">
            <mat-error *ngIf="form.controls['town'].errors?.required">
                Ingresa el nombre de la ciudad de la central.
            </mat-error>
        </mat-form-field>
    </p>
    <button type="submit" color="warn" mat-button>Actualizar</button>
</form>
