<nav class="sidenav">
    <div class="brand">
        <a href="" class="brand-link">
            <figure class="logo">
                <img src="../../../../assets/img/nuevo_logo.png" alt="">
            </figure>
            <p class="font-lg">Taximex</p>
        </a>
    </div>
    <ul class="nav flex-hcenter">
        <li class="nav-item" routerLinkActive="active" *ngFor="let item of items">
            <a class="nav-link flex-vcenter" [routerLink]="item.path">
                <i class="material-icons font-white space-bt-st">{{item.icon}}</i>
                <p class="font-white font-Roboto font-md align-left">{{item.title}}</p>
            </a>
        </li>
    </ul>
</nav>