.sidenav{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #CC4343 0%, #7F2A2A 100%);
}

.brand{
    width: 15vw;
    padding: 0;
    height: auto;
    background: #ffffff;
}

.logo{
    width: 5vw;
    height: 10vh;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brand-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1em;
}

.brand-link p {
    font-family: 'Roboto';
    color: black;
}

.font-lg{
    font-size: 1.5em;
}

.font-white{
    color: white;
}

.font-md{
    font-size: 1em;
}

.nav{
    list-style: none;
    width: 100%;
    padding: 0;
    /* border: 1px solid red; */
}

.nav-item{
    width: inherit;
    height: 10vh;
    padding: 0 1vw;
}

.nav-link:hover{
    background: rgba(255,255,255,0.1);
}

.nav-link{
    width:inherit;
    height: inherit;
    text-align: center;
    padding: 0 2em;
    transition-property: background;
    transition-duration: 1s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
    text-decoration: none;
    /* border: 1px solid red; */
}

.vertical-center{
    vertical-align: center;
}

.flex-vcenter-hspace{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-vcenter{
    display: flex;
    align-items: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-hcenter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.space-bt-st{
    margin-right: 1vw;
}

.active{
    background: #CC4343;
}

.align-left{
    text-align: center;
    margin: 1em 0; 
}
