<section class="costs display--flex-center">
  <div class="costs__article display--grid "> 
      <div class="cost__article-price display--flex-center">
        <p class="white-bold article__price--font-normal">Paquete normal</p>
        <p class="white-bold article__price--font-min">$500/mes</p>
      </div>
      <ul class="list-group text-center">
        <li class="list-group-item">Administración efectiva de sus empleados.</li>
        <li class="list-group-item">Gráficas del crecimiento de sus actividades.</li>
        <li class="list-group-item">Ubicación en tiempo real de sus empleados.</li>
        <li class="list-group-item">Control de las solicitudes de sus clientes.</li>
        <li class="list-group-item">Notificaciones en tiempo real de sus clientes.</li>
      </ul>
  </div>
</section>
