<section class="costs display--flex-center">
  <div class="costs__article display--grid-2columns"> 
    <img class="cost__article-image" src="../../../../assets/img/costo.jpg" alt="">
    <div class="display--grid-2rows">
      <ul class="list-group">
        <li class="list-group-item">Administración efectiva de sus empleados.</li>
        <li class="list-group-item">Gráficas del crecimiento de sus actividades.</li>
        <li class="list-group-item">Ubicación en tiempo real de sus empleados.</li>
        <li class="list-group-item">Control de las solicitudes de sus clientes.</li>
        <li class="list-group-item">Notificaciones en tiempo real de sus clientes.</li>
      </ul>
      <div class="cost__article-price display--flex-center">
        <p class="white-bold cost__article-price__price">$500/mes</p>
      </div>
    </div>
  </div>
</section>
