<section class="costs display--flex-center">
  <div class="costs__article display--grid "> 
      <div class="cost__article-price display--flex-center">
        <p class="white-bold font-Roboto article__price--font-normal">Paquete normal</p>
        <p class="white-bold font-Roboto article__price--font-min">$500/mes</p>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem">Administración efectiva de sus empleados.</mat-list-item>
        <mat-list-item role="listitem">Gráficas del crecimiento de sus actividades.</mat-list-item>
        <mat-list-item role="listitem">Ubicación en tiempo real de sus empleados.</mat-list-item>
        <mat-list-item role="listitem">Control de las solicitudes de sus clientes.</mat-list-item>
        <mat-list-item role="listitem">Notificaciones en tiempo real de sus clientes.</mat-list-item>
      </mat-list>
  </div>
</section>
