.costs{
    width: 100%;
    height: 80%;
    background: rgba(252, 252, 252, 0.988);
}

.display--flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.costs__article{
    border: 2px solid rgb(204, 67, 67);
    width: 30%;
    height: 80%;
    background: rgb(250,250,250);
    border-radius: 1em;
}

.display--grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    justify-content: center;
}

.cost__article-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.display--grid-2rows{
    display: grid;
    grid-template: 1fr 200px / 1fr;
    justify-content: center;
}

.cost__article-price{
    background: rgb(204, 67, 67);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: inherit;
    flex-wrap: wrap;
    align-items: flex-end;
}

.price__description{
    width: 100%;
}

.article__price--font-normal{
    font-size: 2em;
}

.arcile__price--font-min{
    font-size: 1em;
}
