<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img class="avatar" [src]="avatar" alt="icono">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list role="list" class="user-data mat-elevation-z8">
      <mat-list-item role="listitem">
        <h5 class="white-bold">
          Nombre: {{currentUser.centralName}}
        </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h5 class="white-bold">
          Tarifa: {{currentUser.tax}}
        </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h5 class="white-bold">
          Encargado: {{currentUser.fullName}}
        </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h5 class="white-bold">
          Teléfono: {{currentUser.phone}}
        </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h5 class="white-bold">
          Ciudad: {{currentUser.city}}
        </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h5 class="white-bold">
          Email: {{currentUser.email}}
        </h5>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
