
.form{
    width: 30vw;
    height: auto;
    border: 1px solid rgba(150,150,150,0.8);
    display: flex;
    justify-content: center;
}

.form-container{
    padding-top: 22vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-input{
    width: 90%;
    height: 6vh;
    margin: 1em 1.6em;
    padding-left: 1em;
}

.border-primary{
    border: 2px solid #CC4343;
    display: block;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}

.form-input:focus{
    border: 2px solid #CC4343;
}

.form-input::placeholder{
    text-align: center;
}

.form-submit{
    width: 100%;
    border: none;
    height: 10vh;
    position: relative;
    bottom: 0;
    background: #CC4343;
}

p{
    text-align: center;
}

.image-round{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,#CC4343 0%, #7F2A2A 100%);
    position: relative;
    top: -80px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 3em;
}

.full{
    width: 90%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px){
    .form{
        width: 50vw;
    }

}

@media screen and (max-width: 768px){
    .form{
        width: 70vw;
    }
}

@media screen and (max-width: 425px){
    .form{
        width: 90vw;
    }
}

@media screen and (max-width: 325px) {
    .form{
        width: 95vw;
    }
}
