<div class="form-container fade-in">
  <form class="form border-primary">
    <div class="image background-image circle center font-icon"><i class="far fa-user"></i></div>
    <input class="form-input"  type="text" placeholder="Ingresa tu nombre de usuario"/>
    <input class="form-input" type="password" name="" id="" placeholder="Ingresa tu contraseña"/>
    <p class="font-Roboto dark-bold">Cuidaremos tu información celosamente.</p>
    <button type="submit" class="btn-submit font-Roboto white-bold">Ingresar</button>
  </form>
</div>
