<div class="form-container fade-in">
  <form [formGroup]="formulario" (ngSubmit)="login()" class="form border-primary">
    
    <div class="image-round center"><i class="far fa-user"></i></div>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su email</mat-label>
        <input matInput placeholder="email" formControlName="email"/>
        <mat-error *ngIf="formulario.controls['email'].errors?.email">
          Ingresa un email válido
        </mat-error>
        <mat-error *ngIf="formulario.controls['email'].errors?.required">
          El email es <strong>requerido</strong>
        </mat-error>  
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="full">
        <mat-label>Ingrese su contraseña</mat-label>
        <input type="password" matInput placeholder="contraseña" formControlName="password" />
        <mat-error *ngIf="formulario.controls['password'].errors?.required">
            Ingresa una contraseña
        </mat-error> 
      </mat-form-field>
    </p>
    <button type="submit" class="form-submit font-Roboto white-bold">Ingresar</button>
  </form>
</div>
