.form{
    width: 40vw;
    height: auto;
    border: 1px solid rgba(150,150,150,0.8);
    padding: 1em;
}

.form-container{
    padding: 10vh 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input{
    width: 50%;
    height: 6vh;
    margin: 1vh 1vw;
    padding-left: 1em;
}

.border-primary{
    border: 1.5px solid #3eb3fd;
    display: block;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
}

.form-input:focus{
    border: 1.5px solid #3eb3fd;
}

.form-input::placeholder:focus{
    color: #3eb3fd;
}

.form-input::placeholder{
    text-align: center;
}