<footer class="footer background-darken">
  <figure class="image-container">
    <img src="../../../../assets/img/Devops.png" class="img-footer" alt="" />
    <p class="font-Roboto white-bold">
      Email de contacto: devops.ti.2019@gmail.com
    </p>
    <p class="font-Roboto white-bold">Ciudad: Tehuacán, Puebla</p>
    <p class="font-Roboto white-bold">Teléfono: 2381804026</p>
  </figure>

  <article class="form-contact">
    <h2 class="font-Roboto font-header white-bold">Contáctanos</h2>
    <form [formGroup]="formulario" action="" (ngSubmit)="sendEmail()">
      <p>
        <mat-form-field appearance="outline" class="full">
          <mat-label>Ingrese su email</mat-label>
          <input matInput placeholder="email" formControlName="email"/>
          <mat-error *ngIf="formulario.controls['email'].errors?.email">
              Ingresa un email válido
            </mat-error>
            <mat-error *ngIf="formulario.controls['email'].errors?.required">
              El email es <strong>requerido</strong>
            </mat-error> 
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" class="full">
          <mat-label>Ingrese su número telefónico</mat-label>
          <input matInput placeholder="teléfono" formControlName="numero"/>
          <mat-error *ngIf="formulario.controls['numero'].errors?.required">
              Ingresa un número
          </mat-error> 
        </mat-form-field>
      </p>
      <button class="form-submit" type="submit">Enviar</button>
    </form>
  </article>
</footer>
