<form [formGroup]="form" class="form">
  <p>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Contraseña actual</mat-label>
      <input matInput type="password" formControlName="current" required placeholder="Nombre de la central">
      <mat-error *ngIf="form.controls['current'].errors?.required">
        Ingrese su contraseña actual.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput type="password" formControlName="new" required placeholder="Nombre de la central">
      <mat-error *ngIf="form.controls['new'].errors?.required">
        Ingrese su nueva contraseña.
      </mat-error>
      <mat-error *ngIf="form.controls['new'].errors?.length">
        Mínimo 8 caracteres.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input" appearance="outline">
        <mat-label>Confirme su nueva contraseña</mat-label>
        <input matInput type="password" formControlName="confirm" required placeholder="Nombre de la central">
        <mat-error *ngIf="form.controls['confirm'].errors?.required">
          Ingrese otra vez su nueva contraseña.
        </mat-error>
        <mat-error *ngIf="form.controls['confirm'].errors?.confirm">
          Las contraseñas no coinciden.
        </mat-error>
    </mat-form-field>
  </p>
  <button type="button" (click)="updatePassword()" mat-button color="warn">Actualizar contraseña</button>
</form>
